/* CSS declarations go here */
figure {
    width: 33%;
}

.rep-details img{
  height: 120px;
}

figure img:hover{
  opacity: 0.5;
}

.rep-bio{
  width: 30%;
  height: 200px;
  overflow-y: scroll;
}

.donation-list{
  height: 300px;
  overflow: scroll;
}

.single-donation{
  margin: 20px 0 0 0;
}

.single-donation:nth-child(even){
  background-color: #f5f5f5;
}